In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.parquet('../../data/vuelos.parquet')

In [ ]:
df.show()

In [ ]:
df.printSchema()

In [ ]:
df1 = spark.read.parquet('../../data/dataframe')

In [ ]:
df1.show()

In [ ]:
# COUNT
# CUENTA

from pyspark.sql.functions import count,countDistinct,approxCountDistinct

In [ ]:
df1.select(
    count('nombre').alias('conteo_nombre'),
    count('color').alias('conteo_color'),
    count('*').alias('Conteo_general')
).show()

In [ ]:
#Countdistinct 
df1.select(
    countDistinct('color').alias('color_sin_repetidos')
).show()

In [ ]:
df.select(
    countDistinct('AIRLINE'),
    approxCountDistinct('AIRLINE')
).show()

funcion MIN Y MAX

In [ ]:
from pyspark.sql.functions import min,max,col

In [ ]:
df.printSchema()

In [13]:
df.select(
    min('AIR_TIME').alias('TIEMPO_MINIMO'),
    max('AIR_TIME').alias('TIEMPO_MAX')
).show()

+-------------+----------+
|TIEMPO_MINIMO|TIEMPO_MAX|
+-------------+----------+
|            7|       690|
+-------------+----------+

In [19]:
from pyspark.sql.functions import sum,sumDistinct,avg,count
df.select(
    sum('DISTANCE').alias('SUM_DISTANCIA')
).show()

+-------------+
|SUM_DISTANCIA|
+-------------+
|   4785357409|
+-------------+

In [16]:
df.select(
    sumDistinct('DISTANCE').alias('SUM_DISTANCIA')
).show()

c:\Users\Eduardo\Desktop\Certificaciones\Pyspark\Pyspark-Practica\env310\lib\site-packages\pyspark\sql\functions.py:988: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+-------------+
|SUM_DISTANCIA|
+-------------+
|      1442300|
+-------------+

In [21]:
df.select(
    avg('AIR_TIME').alias('PROMEDIO_AIRE'),
    (sum('AIR_TIME') / count('AIR_TIME')).alias('PROMEDIO_MANUAL')
).show()

+------------------+------------------+
|     PROMEDIO_AIRE|   PROMEDIO_MANUAL|
+------------------+------------------+
|113.51162809012519|113.51162809012519|
+------------------+------------------+

In [25]:
from pyspark.sql.functions import desc

In [28]:
(df.groupBy('ORIGIN_AIRPORT').count().orderBy(desc('count'))).show()

+--------------+------+
|ORIGIN_AIRPORT| count|
+--------------+------+
|           ATL|346836|
|           ORD|285884|
|           DFW|239551|
|           DEN|196055|
|           LAX|194673|
|           SFO|148008|
|           PHX|146815|
|           IAH|146622|
|           LAS|133181|
|           MSP|112117|
|           MCO|110982|
|           SEA|110899|
|           DTW|108500|
|           BOS|107847|
|           EWR|101772|
|           CLT|100324|
|           LGA| 99605|
|           SLC| 97210|
|           JFK| 93811|
|           BWI| 86079|
+--------------+------+
only showing top 20 rows

In [29]:
(df.groupBy('ORIGIN_AIRPORT','DESTINATION_AIRPORT').count().orderBy(desc('count'))).show()

+--------------+-------------------+-----+
|ORIGIN_AIRPORT|DESTINATION_AIRPORT|count|
+--------------+-------------------+-----+
|           SFO|                LAX|13744|
|           LAX|                SFO|13457|
|           JFK|                LAX|12016|
|           LAX|                JFK|12015|
|           LAS|                LAX| 9715|
|           LGA|                ORD| 9639|
|           LAX|                LAS| 9594|
|           ORD|                LGA| 9575|
|           SFO|                JFK| 8440|
|           JFK|                SFO| 8437|
|           OGG|                HNL| 8313|
|           HNL|                OGG| 8282|
|           LAX|                ORD| 8256|
|           ATL|                LGA| 8234|
|           LGA|                ATL| 8215|
|           ATL|                MCO| 8202|
|           MCO|                ATL| 8202|
|           SFO|                LAS| 7995|
|           ORD|                LAX| 7941|
|           LAS|                SFO| 7870|
+--------------+-------------------+-----+
only showing top 20 rows