In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
vuelos = spark.read.parquet('../../data/vuelos')

In [ ]:
vuelos.show()

In [4]:
from pyspark.sql.functions import count,min,max,desc,avg

In [6]:
vuelos.groupBy('ORIGIN_AIRPORT').agg(
    count('AIR_TIME').alias('TIEMPO_AIRE'),
    min('AIR_TIME').alias('min'),
    max("AIR_TIME").alias('max'),
).orderBy(desc('TIEMPO_AIRE')).show()

+--------------+-----------+---+---+
|ORIGIN_AIRPORT|TIEMPO_AIRE|min|max|
+--------------+-----------+---+---+
|           ATL|     343506| 15|614|
|           ORD|     276554| 13|571|
|           DFW|     232647| 11|534|
|           DEN|     193402| 12|493|
|           LAX|     192003| 14|409|
|           PHX|     145552| 19|444|
|           SFO|     145491|  8|389|
|           IAH|     144019| 15|524|
|           LAS|     131937| 25|429|
|           MSP|     111055| 14|537|
|           SEA|     110178| 17|412|
|           MCO|     109532| 25|395|
|           DTW|     106992| 15|341|
|           BOS|     104804| 16|432|
|           CLT|      99052| 17|379|
|           EWR|      98341| 21|683|
|           SLC|      96505| 18|419|
|           LGA|      94834| 19|311|
|           JFK|      91663| 29|690|
|           BWI|      84329| 19|398|
+--------------+-----------+---+---+
only showing top 20 rows

In [9]:
vuelos.groupBy('MONTH').agg(
    count('ARRIVAL_DELAY').alias('CONTEO_RETRASOS'),
    avg('DISTANCE').alias('prom_dist'),
).orderBy(desc('CONTEO_RETRASOS')).show()

+-----+---------------+-----------------+
|MONTH|CONTEO_RETRASOS|        prom_dist|
+-----+---------------+-----------------+
|    7|         514384|841.4772794487611|
|    8|         503956|834.8244276603413|
|    6|         492847|835.6302716626612|
|    3|         492138|816.0553268611494|
|    5|         489641|823.3230588760807|
|   10|         482878|816.4436127652134|
|    4|         479251|817.0060476016745|
|   12|         469717|837.8018926194103|
|   11|         462367|820.2482434846529|
|    9|         462153|815.8487523282274|
|    1|         457013|803.2612794913696|
|    2|         407663| 800.785449834689|
+-----+---------------+-----------------+

In [ ]:
# AGREGACION CON PIVOTE

In [11]:
df = spark.read.parquet('../../data/estudiantes.parquet')

In [12]:
df.show()

+------+----+----+----------+
|nombre|sexo|peso|graduacion|
+------+----+----+----------+
|  Jose|   M|  80|      2000|
| Hilda|   F|  50|      2000|
|  Juan|   M|  75|      2000|
| Pedro|   M|  76|      2001|
|Katia+|   F|  65|      2001|
+------+----+----+----------+

In [ ]:
#PROMEDIO DE PESO POR ANIO DE GRACIACION Y SEXO
# PIVOTEA POR LOS VALORES UNICOS que estamos PONIENDO EN PIVOT

In [ ]:
# COMO EN SEXO TENEMOS M y F, pera los valores de agregacion en el PIVOT

df.groupBy('graduacion').pivot('sexo').agg(
    avg('peso')
).show()

+----------+----+----+
|graduacion|   F|   M|
+----------+----+----+
|      2001|65.0|76.0|
|      2000|50.0|77.5|
+----------+----+----+

In [15]:
df.groupBy('graduacion').pivot('sexo').agg(
    avg('peso'),
    min('peso'),
    max('peso')
).show()

+----------+-----------+-----------+-----------+-----------+-----------+-----------+
|graduacion|F_avg(peso)|F_min(peso)|F_max(peso)|M_avg(peso)|M_min(peso)|M_max(peso)|
+----------+-----------+-----------+-----------+-----------+-----------+-----------+
|      2001|       65.0|         65|         65|       76.0|         76|         76|
|      2000|       50.0|         50|         50|       77.5|         75|         80|
+----------+-----------+-----------+-----------+-----------+-----------+-----------+