In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
df_p1 = spark.read.option('header','True').csv('../../data')

In [ ]:
df_p1.printSchema()

In [ ]:
df_p1.show()

In [ ]:
from pyspark.sql.functions import col,cast

In [ ]:
df_p1.select(col('nombre'),col('departamento'),col('salario')).show()

In [ ]:
df_p1.withColumn('salario_anual ',(col('salario')*12)).show()

In [38]:
df_nuevo = df_p1.withColumn('edad',col('edad').cast('Integer'))

In [39]:
df_nuevo.printSchema()

root
 |-- id: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- edad: integer (nullable = true)
 |-- departamento: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- fecha_ingreso: string (nullable = true)

In [40]:
df_nuevo.show()

+---+------+----+----------------+-------+-------------+
| id|nombre|edad|    departamento|salario|fecha_ingreso|
+---+------+----+----------------+-------+-------------+
|  1|   Ana|  28|        Finanzas|   2500|   2021-05-10|
|  2| Pedro|  35|      Tecnología|   3200|   2020-01-15|
|  3| Lucía|  30|Recursos Humanos|   2800|   2022-03-01|
|  4| Marco|  45|      Tecnología|   4000|   2018-07-23|
|  5|  Sara|  25|        Finanzas|   2300|   2023-02-10|
|  6| David|  29|       Marketing|   2600|   2021-09-15|
|  7| Elena|NULL|       Marketing|   2400|   2021-10-01|
+---+------+----+----------------+-------+-------------+

In [41]:
df_sinNulos = df_nuevo.dropna()

In [42]:
df_sinNulos.show()

+---+------+----+----------------+-------+-------------+
| id|nombre|edad|    departamento|salario|fecha_ingreso|
+---+------+----+----------------+-------+-------------+
|  1|   Ana|  28|        Finanzas|   2500|   2021-05-10|
|  2| Pedro|  35|      Tecnología|   3200|   2020-01-15|
|  3| Lucía|  30|Recursos Humanos|   2800|   2022-03-01|
|  4| Marco|  45|      Tecnología|   4000|   2018-07-23|
|  5|  Sara|  25|        Finanzas|   2300|   2023-02-10|
|  6| David|  29|       Marketing|   2600|   2021-09-15|
+---+------+----+----------------+-------+-------------+

In [43]:
df_remplazado = df_nuevo.fillna(30,subset=['edad'])
df_remplazado.show()

+---+------+----+----------------+-------+-------------+
| id|nombre|edad|    departamento|salario|fecha_ingreso|
+---+------+----+----------------+-------+-------------+
|  1|   Ana|  28|        Finanzas|   2500|   2021-05-10|
|  2| Pedro|  35|      Tecnología|   3200|   2020-01-15|
|  3| Lucía|  30|Recursos Humanos|   2800|   2022-03-01|
|  4| Marco|  45|      Tecnología|   4000|   2018-07-23|
|  5|  Sara|  25|        Finanzas|   2300|   2023-02-10|
|  6| David|  29|       Marketing|   2600|   2021-09-15|
|  7| Elena|  30|       Marketing|   2400|   2021-10-01|
+---+------+----+----------------+-------+-------------+

In [45]:
df_remplazado.filter(col('departamento') == 'Tecnología').show()

+---+------+----+------------+-------+-------------+
| id|nombre|edad|departamento|salario|fecha_ingreso|
+---+------+----+------------+-------+-------------+
|  2| Pedro|  35|  Tecnología|   3200|   2020-01-15|
|  4| Marco|  45|  Tecnología|   4000|   2018-07-23|
+---+------+----+------------+-------+-------------+

In [48]:
df_remplazado.filter((col('salario') >= 2500) & (col('edad') <= 35)).show()

+---+------+----+----------------+-------+-------------+
| id|nombre|edad|    departamento|salario|fecha_ingreso|
+---+------+----+----------------+-------+-------------+
|  1|   Ana|  28|        Finanzas|   2500|   2021-05-10|
|  2| Pedro|  35|      Tecnología|   3200|   2020-01-15|
|  3| Lucía|  30|Recursos Humanos|   2800|   2022-03-01|
|  6| David|  29|       Marketing|   2600|   2021-09-15|
+---+------+----+----------------+-------+-------------+

In [55]:
df_remplazado.filter(col('departamento').isin(['Marketing','Recursos Humanos'])).show()

+---+------+----+----------------+-------+-------------+
| id|nombre|edad|    departamento|salario|fecha_ingreso|
+---+------+----+----------------+-------+-------------+
|  3| Lucía|  30|Recursos Humanos|   2800|   2022-03-01|
|  6| David|  29|       Marketing|   2600|   2021-09-15|
|  7| Elena|  30|       Marketing|   2400|   2021-10-01|
+---+------+----+----------------+-------+-------------+

+-------+-----------------+------+------------------+------------+------------------+-------------+
|summary|               id|nombre|              edad|departamento|           salario|fecha_ingreso|
+-------+-----------------+------+------------------+------------+------------------+-------------+
|  count|                7|     7|                 7|           7|                 7|            7|
|   mean|              4.0|  NULL|31.714285714285715|        NULL|2828.5714285714284|         NULL|
| stddev|2.160246899469287|  NULL| 6.575568054403759|        NULL| 596.4178784328029|         NULL|
|    min|                1|   Ana|                25|    Finanzas|              2300|   2018-07-23|
|    max|                7|  Sara|                45|  Tecnología|              4000|   2023-02-10|
+-------+-----------------+------+------------------+------------+------------------+-------------+