In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
df_ventas = spark.read.option('header','True').csv('../../data/ventas.csv')

In [5]:
df_ventas.printSchema()

root
 |-- id_venta: string (nullable = true)
 |-- cliente: string (nullable = true)
 |-- producto: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- precio: string (nullable = true)
 |-- cantidad: string (nullable = true)
 |-- fecha: string (nullable = true)

In [ ]:
#ðŸ”¹ Ejercicio 1: Monto total por cliente y categorÃ­a
# Objetivo: Calcular cuÃ¡nto ha gastado cada cliente por categorÃ­a de producto.
from pyspark.sql.functions import col,desc,filter

GroupedData[grouping expressions: [], value: [id_venta: string, cliente: string ... 5 more fields], type: GroupBy]

In [11]:
df_conMonto = df_ventas.withColumn('monto',(col('precio')*col('cantidad')))
df_conMonto.printSchema()

root
 |-- id_venta: string (nullable = true)
 |-- cliente: string (nullable = true)
 |-- producto: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- precio: string (nullable = true)
 |-- cantidad: string (nullable = true)
 |-- fecha: string (nullable = true)
 |-- monto: double (nullable = true)

In [12]:
df_conMonto.groupBy(col('cliente'),col('categoria')).agg(
    sum(col('monto')).alias('MONTO')
).orderBy(desc(col('monto'))).show()

PySparkTypeError: [NOT_ITERABLE] Column is not iterable.